* {
  margin: unset;
  padding: unset;
}

body {
  background-color: #d8cece;
}

nav {
  background: #9822d3;

  height: 3rem;
  line-height: 3rem;
  color: white;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.container {
  padding: 1rem;
}

#itemForm label {
  display: block;
  margin-bottom: 1rem;
}

#itemForm input {
  height: 2rem;
  text-align: center;
  border: 1px solid #bfbfbf;
}

#quantityInput,#priceInput {
  width: 3rem;
}

#addItemButton {
  border: unset;
  background: #9822d3;
  color: #fff;
  padding: 1rem;
  border-radius: 6px;
  width: 50%;
}

.clearItemButton {
 border: unset;
 margin-top: 2rem;
 color: #fff;
 background:#9822d3 ;
 padding: 1rem;
 font-size: 16px;
 width: 100%;
 border-radius: 9px;
 
}

.clearItemButton:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.clearItemButton:active {
  background-color: gray;
}


#itemsDiv {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: #eaeaea;
  margin-bottom: 0.5rem;
}

.checkbox {
  height: 100%;
  width: 2.5rem;
}

.itemInfo {
  text-align: center;
}

.deleteButton {
  margin: 0 0 0 auto;
  border: unset;
  background: #b10000;
  color: #fff;
  font-size: 0.8rem;
  width: 2.5rem;
  height: 100%;
  border-radius: 6px;
}

.deleteButton:active {
  margin-top: 3px;
}

.purchased {
  background: #9822d3;
  color: #fff;
}

.purchased {
  text-decoration: line-through;
}
